html {
    font-size: 1rem;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;

}
.home-page-container {
    text-align: center;
}
.info {
    margin: 10px auto; 
    width: 480px;
    text-align: left;
}
.account-entry{
    width: 450px;
    height: 380px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    margin: 10px auto; 
    padding: 15px;

}
.profile {
    text-align: center;
}

.profile img{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    width: 438px;
    height: 30px;
    margin: 5px auto; 
    padding-left: 10px;  
    padding-right: 0;
    border: 1px solid rgba(128, 128, 128, 0.5);

}

#login {
    width: 450px;
    height: 30px;
    margin: 5px auto; 
    background-color: rgb(93, 190, 93);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

#logout {
    width: 60px;
    background-color: gray;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}